{% extends 'base.html' %}
{% load django_bootstrap5 %}  

{% block body-blk %}

    <div class="row">
        <div class="col">
            <p><strong>Employees</strong></p>
            
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First</th>
                  <th scope="col">Department</th>
                  <th scope="col">Hire Date</th>                  
                </tr>
              </thead>
              <tbody>
                {% for e in employees %}      
                <tr>
                  <th scope="row">{{ e.id }}</th>
                  <td><a href= "{% url 'justwork:specific_employee' e.id %}">{{ e.first_name }}</a></td>
                  <td>{{ e.department_id.department_name }}</td>
                  <td>{{ e.hire_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
            
            <p><a href= "{% url 'justwork:new_employee' %}">Add new employee</a></p>    
        </div>
       
            
    </div>
    
    <!--
	<ul>
	{% for e in employees %}
		<li>{{ e.first_name }} {{ e.last_name }} {{ e.hire_date }}</a> </li>
	{% endfor %}
	</ul>
    -->

{% endblock %}
