h1 {
	
	color: green;
    font-family: 'Hurricane'
}

body {
    
    #font-family: 'Hurricane'
    
}    

.copyleft {
    color: pink;
    font-size: 13px;
}    

.one {
    font-size: '15px',
}    


.my-applications {
}    

.user-pic {
}    

