{% extends 'main_base.html' %}

{% load django_bootstrap5 %}  
{% load static %}

{% block css-blk-2 %}
    <link rel= "stylesheet" type= "text/css" href= "{% static 'css/meh01.css' %}" />
{% endblock %}



<!--
<div class="user-pic">
    <img src = "{% static 'images/me.png' %}" alt= "uh oh" />	
</div>
-->


{% block body-blk %}    
<div class="col">
    <p> Just Work</p>
        <a href= "{% url 'justwork:home' %}"><img src = "{% static 'images/justwork.jpg' %}"></a>
</div>    
{% endblock %}          

{% block body-blk-2 %}                      
<div class="col">      
    <p>Expenses</p>
        <a class= "left" href= "{% url 'app01:all_samples' %}"><img src = "{% static 'images/expenses.jpg' %}"></a>
</div>
{% endblock %}
        

